<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
      <h3 translate>CREATE.TITLE</h3>
    </div>

    <div class="mdl-card__supporting-text">
      <!-- Simple Textfield -->
      <form action="#">
        <p class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample1" />
          <label class="mdl-textfield__label" for="sample1">Title...</label>
        </p>
        <br />
        <p class="mdl-textfield mdl-js-textfield">
          <textarea class="mdl-textfield__input" type="text" rows="10" cols="100" id="sample5" ></textarea>
          <label class="mdl-textfield__label" for="sample5">Content...</label>
        </p>
      </form>

      <!-- Colored raised button -->
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Submit
      </button>

    </div>
</div>

