
<div class="mdl-grid mdl-cell mdl-cell--12-col">

  <div class="mdl-card mdl-cell mdl-cell--12-col" ng-show="loading">
    <!-- MDL Spinner Component -->
    <div class="mdl-spinner mdl-js-spinner is-active"></div>
  </div>

  <div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col" ng-show="!loading">
      <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url({{::story.embed.thumbnail_url}})">
        <h3>{{::story.title}}</h3>
      </div>
      <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
        {{::story.description}}
      </div>
      <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div class="voteCount">0</div>
        <div>
          <strong>{{::story.added_by.username}}</strong>
          <span am-time-ago="story.timestamp | amFromUnix"></span>
        </div>
      </div>
  </div>

</div>