<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
      <h3 translate>ABOUT.TITLE</h3>
    </div>

    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      <p>
        This is a simple application that provides a clean interface for reading stories from <a href="http://news.ycombinator.com">Hacker News</a>. This application adds some useful functionality beyond the information which you normally get from Hacker News. Firstly it pulls link previews for each story so that you can read a bit about the story before you actually click the link. In addition this application stores read states for each story so it can automatically filter out stories from the feed which you have already read.
      </p>
      <p>
        This site would not have been possible without many open source technologies including AngularJS, Material Design Light, Angular Translate, Angular UI Router, and MomentJs. It also uses APIs from Hacker News, Embedly, and Desktoppr. Links to these APIs can be found in the footer. 
      </p>
    </div>
</div>

