
story-list {
    width: 100%;

    .mdl-grid {
        padding: 0px;
    }

    .mdl-card {
        .material-icons {
            float: right;
            opacity: 0.5;
            margin-top: -2px;

            &:hover {
                opacity: 1;
            }
        }        

        h3 {
            margin: 0;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 10px;
            position: absolute;
            bottom: 25px;
            right: 0;
            left: 25px;
        }
    }

    .voteCount {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #F5F5F5;
        text-align: center;
        line-height: 44px;
        font-size: 1.2em;
    }

    .mdl-spinner {
        margin: 0 auto;
        margin-top: 150px;
    }
}